body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(105, 19, 19, 0.1);
  padding: 15px;
  margin: 20px auto;
  background-color: yellow;
  width: 50%;
  text-align: center;
}

.card-title {
  font-size: 1.2em;
}

.card-text {
  color: #333;
}

.card:hover {
  transform: scale(1.1);
}

.spinner {
  position: absolute;
  border: 4px solid red;
  border-top: 4px solid #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(80, 50, 10);
}

.Navbar:hover {
  transform: scale(1.05);
  font-weight: bold;
}
